.section {
  display: flex;
  background-image: url(../../Images//background-1.jpg);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background-color: #5759bbcc; */
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.384) !important;
  border: 1px solid black;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px black;
}
.heading {
  font-size: 2em;
  color: black !important;
  text-align: center;
}
.input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid black !important;

}
.input-box label {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black !important;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: black !important;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: black !important;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;
}
.forget label a {
  color: blue !important;
  text-decoration: underline;
}
.forget label a:hover {
  text-decoration: underline;
}
.btn-login {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border-radius: 10px !important;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.btn-login:hover {
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
}
.register {
  font-size: 0.9em;
  color: black !important;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: blue !important;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}

.logo {
  filter: drop-shadow(10px 10px 10px white);
  position: absolute;
  top: 8px;
  left: 335px;
  z-index: 99;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Responsive styles */

@media (max-width: 768px) {
  .form-box {
    width: 80%; /* Adjust the width for smaller screens */
  }
}

@media (max-width: 480px) {
  .form-box {
    width: 90%; /* Adjust the width for even smaller screens */
  }

  .logo {
    left: 50%; /* Center the logo on smaller screens */
    top: -5px;
    width: 60%;
    transform: translateX(-50%);
  }
}