/* Dashboard.css */

.dashbord-main {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  margin: 20px;
}

.dashboard-card1 {
  background-color: #fff;
  
  border: 1px solid #da0a0a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 1200px;
  /* text-align: center; */
}
.dashboard-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  padding: 20px;
  width: 1200px;
  height: 300px;
  /* text-align: center; */
}

.total-amount-heading {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.card-value {
  
  color: #007bff;
  font-size: 24px;
  font-weight: bold;
}

.Pending-case {
  color: #e44d26;
  font-size: 18px;
  margin-bottom: 10px;
}

.dashbord-data {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
