/* PatientDetailsCard.css */

/* Common styles */
.patient-card {
  border-radius: 8px;
  margin: 20px 0px;
  padding: 30px;
  width: 80%; /* Use full width on smaller screens */ /* Limit max width for larger screens */
  box-shadow: 1px 1px 8px black;
  background-color: #fff;
}

.patient-data h5 {
  width: 100%; /* Full width for smaller screens */
  padding: 10px;
  border: 1px solid #ddd;
}

.data-btn {
  height: 50px;
  position: relative; /* Adjusted position for smaller screens */
  margin-top: 10px;
  text-align: center; /* Center the buttons */
}

.btn-register-more,
.btn-register-status {
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  border: none;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 0; /* Adjusted margin for smaller screens */
  cursor: pointer;
}

.documents {
  margin-right: 0; /* Adjusted margin for smaller screens */
  width: 100%; /* Full width for smaller screens */
}

.maincontainer{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.close-icon{
  cursor: pointer;
  font-size: 30px;
}

/* Add responsive adjustments for larger screens */
@media screen and (min-width: 768px) {
  .patient-card {
    flex-direction: row; /* Adjusted for larger screens */
  }

  .patient-card .patient-details-sidebar {
    left: 0; /* Bring sidebar back to the screen for larger screens */
  }
}

/* Add additional styles for responsiveness as needed */

@media only screen and (max-width: 900px) {
  .patient-card {
    min-width: 100%;
  }
}
